/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {  
    font-size: 12px !important;  
} 
 
html,
body {
   margin:0;
   padding:0;
   height:100%;   
}
#content {
 
   min-height:93%;
   position:relative;
}
#header {
   padding:0px;
}
#body {
 
   padding:10px;
   padding-bottom:60px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;  
   background:#BDBDBD;
}

/* TOPBAR */
.aw-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 50px;
    z-index: 9999;
     
    background-color: #00496f;
}
 
.aw-topbar > img {
    margin-top: 10px;
    margin-left: 5px;
}
 
/* SIDEBAR */
.aw-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 9998;
    transition: margin-left 0.5s;
    overflow-y: auto;
     
    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
}
 
.aw-sidebar.is-toggled {
    margin-left: 0px;
}
 
@media (min-width: 960px) {
    .aw-sidebar {
        margin-left: 0px;
    }
     
    .aw-sidebar.is-toggled {
        margin-left: -211px;
    }
}
 
/* CONTENT */
.aw-content {
    padding: 0 15px;
    margin-top: 50px;
    transition: margin-left 0.5s;
}
 
@media (min-width: 960px) {
    .aw-content {
        margin-left: 210px;
    }
     
    .aw-content.is-toggled {
        margin-left: 0;
    }
}

/* BASE */
body {
    margin: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #555;
}
 
@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }
}
 
/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
}
 
@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }
}